/*than css*/
body{
	overflow-x: hidden;
}
::-webkit-scrollbar {
    display: none;
}
/*.overlay{
	margin:0;
	padding:0;

	background:rgba(0,0,0,0.5);
}*/
/*.text-warning{
	font-color:#FF8800;
}*/
.text-warning{
	color:#FF8800 !important;
}
.btn-warning{
	background-color:#FF8800 !important;

}

.btn-outline-warning:hover{
	color:black !important;
	background-color: #FF8800 !important;
}
.btn-outline-warning{
	color: #FF8800 !important;
	border-color: #FF8800 !important;
}
.hidden-thing{
	position: absolute;
	left:100%;
	width:15px;
	height:15px;
	opacity: 0;

}
.mont{
	color:#FF8800 !important;
	font-family: 'Montserrat', sans-serif;
	font-weight: bold; 
	letter-spacing: 4px;
}

@media screen and (max-width:900px) {
	.iframe{
		position: absolute;
		left:-40px;
	}
	.contact{
		position: relative;
		bottom:-281px !important;
	}
	footer{
		position: relative;
		bottom:-267px;

	}
}
	html,body{

		scroll-behavior: smooth;
		/*font-family: 'Cinzel', serif;*/
		font-family: 'Mulish', sans-serif;
		margin:0;
		padding:0;
	}
	/*::-webkit-scrollbar{
		width: 0px; 
	}*/
	h1,h2,h3,h4,h5{
		cursor: default;
	}
	h1{ 
		font-weight:bolder;
		color:orange;
		/*text-shadow: 0px 2px 4px rgba(0,0,0,0.6);*/
		/*padding:30rem 30rem;*/
	}

	.logo{
		width: 50px;
		height: 50px;	
	}
	.logo:hover{
		border:2px solid rgb(0,0,0,0);
	}

	@media screen and (max-width: 768px) {
		.icon ul{
			display: none !important;
		}
	}



	.icon ul{
		margin-top:9rem;
		list-style: none;
		color:orange !important;
		line-height: 90px;
		position: fixed;
		left:0px;
		z-index: 30;
		background: transparent !important;
		animation-name: animation;
		animation-duration: 2s;
		animation-delay: 4s;
		transition: all .5s ease-in-out;
	}
	.iconlink{
		color:orange;
		transition: .3s all ease-in-out;
	}
	.iconlink:hover{

		font-size:1.3rem;
		color:darkorange;
	}

	@keyframes animation {
		0%   { left:0px; }
	  25%  { left:20px; }
	  50%  { left:20px; }
	  75%  { left:0px; }
	  100% { left:0px; }
	}
	 .icon .hide{

	 	left:-720px;
		opacity: 0;

	}
	@media only screen and (min-width: 768px) {
		.sideicon{
			display: block !important;
		}
	}
	@media only screen and (max-width: 768px) {
		.sideicon{
			display:none !important;
		}
	}

	@media screen and (max-width: 768px) {
		.navbar-collapse{
			background-color: rgba(0,0,0,0.6);

		}
		.nav-link{
			color:white !important;
		}
	}


	p,h5{
		cursor:default;
	}
	.nav-link:hover{

		transition: all .8s ease-out;
		border:3px solid orange;
	}
	.navbar{
		position: absolute;
		width:100%;
		z-index: 10;
		background: transparent !important;
	}
	.carousel-indicators{
		cursor: pointer;
		position: absolute;
		height:50px;
		width:80px;	
		margin:auto;
		bottom:556px;
		opacity: 0.4;
	}
	.carousel-indicators:hover{
		position: absolute;	
		opacity: 1;
	}
	.carousel-caption{
		position: absolute;
		top:379px;
	}
	.orangetime{
		font-size:1.6rem;
		cursor:default;
		width:100%;
		height:110px;
		background-color: darkorange;
	}
	.other{
		width:100%;
		height:100vh;
		background-color: white;
	}
	#awaken{
		width:40px;
	}
	.borderless td, .borderless th {
		padding-top:3px;
	    border: none !important;
	}
	.table td, .table th {
		padding:0 !important;
	}
	@media screen and (min-width: 768px) {
		.modal-content{
		left:-77px;
		width:130%;
	}
}
.round{
	clip-path: circle();
	opacity: .7;
	transition: 2.5s all ease;

}
.team-name{
	margin-top: -62px;
	margin-bottom:23px; 
	opacity:1;

}
.round:hover{
	opacity: 1;
	/*border:10px solid orange;*/
	transition: .3s all ease-in-out;
}


.team-name:hover{
	opacity: 1;
}

/*follow css*/
	/*@import url(https://fonts.googleapis.com/css?family=Lato);
	@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css);*/
	body {
	    font-family: 'Lato', sans-serif;
	    color: #FFF;
	    background: #322f30;
	    -webkit-font-smoothing: antialiased;
	}
	a {
	    text-decoration: none;
	    color: #fff;
	}
	p > a:hover{
	    color: #d9d9d9;
	    text-decoration:  underline;
	}
	/*h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
	    margin:  1% 0 1% 0;
	}*/
	._12 {
	    font-size: 1.2em;
	}
	._14 {
	    font-size: 1.4em;
	}
	ul {
	    /*padding:0;*/
	    list-style: none;
	}
	.footer-social-icons {
	    width: 350px;
	    display:block;
	    margin: 0 auto;
	}
	.social-icon {
	    color: #fff;
	}
	ul.social-icons {
	    margin-top: 10px;
	}
	.social-icons li {
	    vertical-align: top;
	    display: inline;
	    height: 100px;
	}
	.social-icons a {
	    color: #fff;
	    text-decoration: none;
	}
	.fa-facebook-f {
	    padding:10px 14px;
	    -o-transition:.5s;
	    -ms-transition:.5s;
	    -moz-transition:.5s;
	    -webkit-transition:.5s;
	    transition: .5s;
	    background-color: #322f30;
	}
	.fa-facebook-f:hover {
	    background-color: #3d5b99;
	}
	.fa-twitter {
	    padding:10px 12px;
	    -o-transition:.5s;
	    -ms-transition:.5s;
	    -moz-transition:.5s;
	    -webkit-transition:.5s;
	    transition: .5s;
	    background-color: #322f30;
	}
	.fa-twitter:hover {
	    background-color: #00aced;
	}
	.fa-rss {
	    padding:10px 14px;
	    -o-transition:.5s;
	    -ms-transition:.5s;
	    -moz-transition:.5s;
	    -webkit-transition:.5s;
	    transition: .5s;
	    background-color: #322f30;
	}
	.fa-rss:hover {
	    background-color: #eb8231;
	}
	.fa-youtube {
	    padding:10px 14px;
	    -o-transition:.5s;
	    -ms-transition:.5s;
	    -moz-transition:.5s;
	    -webkit-transition:.5s;
	    transition: .5s;
	    background-color: #322f30;
	}
	.fa-youtube:hover {
	    background-color: #e64a41;
	}
	.fa-linkedin-in{
	    padding:10px 14px;
	    -o-transition:.5s;
	    -ms-transition:.5s;
	    -moz-transition:.5s;
	    -webkit-transition:.5s;
	    transition: .5s;
	    background-color: #322f30;
	}
	.fa-linkedin-in:hover {
	    background-color: #0073a4;
	}
	.fa-github {
	    padding:10px 14px;
	    -o-transition:.5s;
	    -ms-transition:.5s;
	    -moz-transition:.5s;
	    -webkit-transition:.5s;
	    transition: .5s;
	    background-color: #322f30;
	}
	.fa-github:hover {
	    background-color: #5a32a3;
	}


#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  /*background-color: red;*/
  color: black;
  cursor: pointer;
  padding: 15px;
  opacity: 0.6;
  border-radius: 4px; transition: transform .3s ease-in-out;
}

#myBtn:hover {
 /* background-color: #555;*/
 transform: translateY(4px);
 opacity: 1;
 transition: transform .3s ease-in-out;
}


.parallax-window {
    min-height: 400px;
    background: transparent;
}
.viewcount{

	position: relative;
	top:90px;
	left:5px;
}


.animate{
	
	transform: translateY(0px);
	transition: all 2s ease;
}
.animate:hover{
	transform: translateY(-9px);
	transition: transform .5s ease-in-out;
}
.carousel-item-overlay::before{
	content: '';
	display: block;
	position: absolute;
	top:0;
	left:0;
	bottom: 0;
	right: 0;
	background:rgba(0,0,0,0.2);

}


